openapi: 3.0.2
info:
  title: Anti Retake API
  version: "1.2"
servers:
- url: https://antiretake.xyz/api
paths:
  /auth/add-aser:
    post:
      tags:
      - Authentication
      summary: "Add an user to mongodb when signup, first time login with google and\
        \ facebook"
      operationId: API-001
      responses:
        "201":
          description: Add User Successful.
          headers:
            Set-Cookie:
              style: simple
              explode: false
              schema:
                type: string
                example: ar_Auth=authcookie; Path=/; HttpOnly
        "401":
          description: Wrong credentials.
      security: []
  /currentuser/recent:
    get:
      tags:
      - Profile
      summary: Get recent study sets of current user.
      operationId: API-010
      responses:
        "200":
          description: Recent study set list of current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentStudySetList'
  /users/{userId}:
    get:
      tags:
      - Profile
      summary: Get user info by ID.
      operationId: API-011
      parameters:
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: User info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
  /users/{userId}/studysets:
    get:
      tags:
      - Profile
      summary: Get study set list of a user by UserID.
      operationId: API-012
      parameters:
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Study set list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudySetList'
  /users/{userId}/folders:
    get:
      tags:
      - Profile
      summary: Get folder list of a user by UserID.
      operationId: API-013
      parameters:
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Folder list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderList'
  /users/folders/personal:
    get:
      tags:
      - Profile
      summary: Get personal folder list of Current User.
      operationId: API-071
      parameters:
      - name: searchText
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
      - name: classId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Folder list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderList'
  /users/sets/personal:
    get:
      tags:
      - Profile
      summary: Get personal studyset list of Current User.
      operationId: API-072
      parameters:
      - name: searchText
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
      - name: classId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: folderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Study set list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudySetList'
  /users/{userId}/classes:
    get:
      tags:
      - Profile
      summary: Get class list of a user by UserID.
      operationId: API-014
      parameters:
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Class list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassList'
  /users/{userId}/questions:
    get:
      tags:
      - Profile
      summary: Get question list of a user by UserID.
      operationId: API-016
      parameters:
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Question list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionList'
  /profile:
    get:
      tags:
      - Profile
      summary: Get current user profile info
      operationId: API-070
      responses:
        "200":
          description: UserInfo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
    put:
      tags:
      - Profile
      summary: Edit Username or Avatar Url
      operationId: API-069
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfo'
        required: true
      responses:
        "200":
          description: Successfully
  /sets/{id}/visit:
    put:
      tags:
      - Profile
      summary: Set visited study set by of current user.
      operationId: API-075
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully.
  /sets/{id}/learn/reset:
    post:
      tags:
      - Profile
      summary: Reset learn study set by of current user.
      operationId: API-073
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "201":
          description: Successfully.
  /sets/{id}/learn:
    post:
      tags:
      - Profile
      summary: Set learned study set by of current user.
      operationId: API-074
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "201":
          description: Successfully.
  /common/schools:
    get:
      tags:
      - Common
      summary: Get school list.
      operationId: API-015
      parameters:
      - name: searchText
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: School list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolList'
  /common/textbooks:
    get:
      tags:
      - Common
      summary: Get textbook list.
      operationId: API-067
      parameters:
      - name: searchText
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: School list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextbookList'
  /common/subjects:
    get:
      tags:
      - Common
      summary: Get subject list.
      operationId: API-068
      parameters:
      - name: searchText
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Subject list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubjectList'
  /search/studysets:
    get:
      tags:
      - Search
      summary: "Get study set list of search by keyword, filter and sorted."
      operationId: API-017
      parameters:
      - name: searchText
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: textbooks
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: subjects
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sortedBy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Study set list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudySetList'
  /search/classes:
    get:
      tags:
      - Search
      summary: "Get class list of search by keyword, filter and sorted."
      operationId: API-018
      parameters:
      - name: searchText
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: schools
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sortedBy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Class list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassList'
  /search/users:
    get:
      tags:
      - Search
      summary: Get user list of search by keyword.
      operationId: API-019
      parameters:
      - name: searchText
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Class list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
  /search/questions:
    get:
      tags:
      - Search
      summary: "Get question list of search by keyword, filter and sorted."
      operationId: API-020
      parameters:
      - name: searchText
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: textbooks
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: subjects
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: schools
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sortedBy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Question list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionList'
  /sets/{studySetId}/info:
    get:
      tags:
      - Study Set
      summary: Get study set info by study set ID.
      operationId: API-021
      parameters:
      - name: studySetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Study set info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudySetInfo'
  /sets/{studySetId}/flashcards:
    get:
      tags:
      - Study Set
      summary: Get all flashcards of study set by study set ID.
      operationId: API-022
      parameters:
      - name: studySetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: All Flashcards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlashCardList'
  /sets/{studySetId}/recommendation:
    get:
      tags:
      - Study Set
      summary: Get recommendation study sets by study set ID.
      operationId: API-023
      parameters:
      - name: studySetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Recommendation study sets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudySetList'
  /sets/{studySetId}/rate:
    post:
      tags:
      - Study Set
      summary: Rate study set by study set Id.
      operationId: API-024
      parameters:
      - name: studySetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: rate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "201":
          description: Study set rating.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
      security:
      - cookieAuth: []
  /sets/{studySetId}:
    put:
      tags:
      - Study Set
      summary: Edit a study set.
      operationId: API-027
      parameters:
      - name: studySetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudySetEdit'
        required: true
      responses:
        "201":
          description: Study set updated successful.
      security:
      - cookieAuth: []
    delete:
      tags:
      - Study Set
      summary: Delete study set by study set Id.
      operationId: API-025
      parameters:
      - name: studySetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Study set deleted successful.
      security:
      - cookieAuth: []
  /sets:
    post:
      tags:
      - Study Set
      summary: Create a study set.
      operationId: API-026
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudySetCreate'
        required: true
      responses:
        "201":
          description: Study set created successful.
      security:
      - cookieAuth: []
  /sets/{studySetId}/save:
    post:
      tags:
      - Study Set
      summary: Save study set to folder.
      operationId: API-031
      parameters:
      - name: studySetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: folderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Save study set to folder successful.
      security:
      - cookieAuth: []
  /sets/flashcards/{flashcardId}/save:
    post:
      tags:
      - Study Set
      summary: Save flashcard to study set.
      operationId: API-032
      parameters:
      - name: flashcardId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: studySetId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Save flashcard to study set successful.
      security:
      - cookieAuth: []
  /classes/{classId}/info:
    get:
      tags:
      - Class
      summary: Get class info by class ID.
      operationId: API-033
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Class info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassInfo'
  /classes/{classId}/studysets:
    get:
      tags:
      - Class
      summary: Get study sets in class by class ID.
      operationId: API-034
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Study sets of class.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudySetList'
  /classes/{classId}/folders:
    get:
      tags:
      - Class
      summary: Get folders in class by class ID.
      operationId: API-035
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Folders of class.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderList'
  /classes/{classId}/members:
    get:
      tags:
      - Class
      summary: Get members in class by class ID.
      operationId: API-036
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Members of class.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberList'
  /classes/{classId}/requests:
    get:
      tags:
      - Class
      summary: Get join requests in class by class ID.
      operationId: API-037
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Join requests of class.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinRequestList'
      security:
      - cookieAuth: []
    post:
      tags:
      - Class
      summary: Send join request.
      operationId: API-050
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinRequest'
        required: true
      responses:
        "201":
          description: Send join request successful.
      security:
      - cookieAuth: []
  /classes:
    post:
      tags:
      - Class
      summary: Create a class.
      operationId: API-038
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassCreate'
        required: true
      responses:
        "201":
          description: Class created successful.
      security:
      - cookieAuth: []
  /classes/{classId}:
    put:
      tags:
      - Class
      summary: Edit a class.
      operationId: API-039
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassEdit'
        required: true
      responses:
        "201":
          description: Class updated successful.
      security:
      - cookieAuth: []
    delete:
      tags:
      - Class
      summary: Delete class by class Id.
      operationId: API-040
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Class deleted successful.
      security:
      - cookieAuth: []
  /classes/{classId}/add-study-set-to-class:
    post:
      tags:
      - Class
      summary: Add study set to class.
      operationId: API-041
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: studySetId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Add study set to class successful.
      security:
      - cookieAuth: []
  /classes/{classId}/folders/add:
    post:
      tags:
      - Class
      summary: Add folder to class.
      operationId: API-042
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: folderId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Add folder to class successful.
      security:
      - cookieAuth: []
  /classes/{classId}/members/invite:
    get:
      tags:
      - Class
      summary: List of members to invite.
      operationId: API-044
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: searchText
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: List of users to invite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
      security:
      - cookieAuth: []
    post:
      tags:
      - Class
      summary: Invite member to class.
      operationId: API-043
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: memberId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Invite to class successful.
      security:
      - cookieAuth: []
  /classes/{classId}/members/{memberId}:
    put:
      tags:
      - Class
      summary: Edit member role.
      operationId: API-045
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: memberId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: role
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Edit member role successful.
      security:
      - cookieAuth: []
    delete:
      tags:
      - Class
      summary: Delete member in class.
      operationId: API-046
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: memberId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Delete member successful.
      security:
      - cookieAuth: []
  /classes/{classId}/requests/{requestId}:
    put:
      tags:
      - Class
      summary: Response join request.
      operationId: API-047
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: requestId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: response
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Response join request successful.
      security:
      - cookieAuth: []
  /classes/{classId}/folders/{folderId}:
    delete:
      tags:
      - Class
      summary: Remove Folder in Class.
      operationId: API-078
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: folderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Remove Folder successful.
      security:
      - cookieAuth: []
  /classes/{classId}/sets/{studySetId}:
    delete:
      tags:
      - Class
      summary: Remove Study Set in Class.
      operationId: API-079
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: studySetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Remove Study Set successful.
      security:
      - cookieAuth: []
  /classes/{classId}/leave:
    delete:
      tags:
      - Class
      summary: Leave a class.
      operationId: API-048
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Leave class successful.
      security:
      - cookieAuth: []
  /classes/{classId}/accept:
    post:
      tags:
      - Class
      summary: Accept join invitation.
      operationId: API-049
      parameters:
      - name: classId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "201":
          description: Accept join invitation successful.
      security:
      - cookieAuth: []
  /folders/{folderId}/info:
    get:
      tags:
      - Folder
      summary: Get folder info by folder ID.
      operationId: API-051
      parameters:
      - name: folderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Folder info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderInfo'
  /folders/{folderId}/studysets:
    get:
      tags:
      - Folder
      summary: Get study sets in folder by folder ID.
      operationId: API-052
      parameters:
      - name: folderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Study sets of folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudySetList'
  /folders:
    post:
      tags:
      - Folder
      summary: Create a folder.
      operationId: API-053
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderCreate'
        required: true
      responses:
        "201":
          description: Folder created successful.
      security:
      - cookieAuth: []
  /folders/{folderId}/add-study-set-to-folder:
    post:
      tags:
      - Folder
      summary: Add study set to folder.
      operationId: API-076
      parameters:
      - name: folderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: studySetId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Add study set to folder successful.
      security:
      - cookieAuth: []
  /folders/{folderId}/sets/{studySetId}:
    delete:
      tags:
      - Folder
      summary: Remove Study Set in Folder.
      operationId: API-077
      parameters:
      - name: folderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: studySetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Remove Study Set successful.
      security:
      - cookieAuth: []
  /folders/{folderId}:
    put:
      tags:
      - Folder
      summary: Edit a folder.
      operationId: API-054
      parameters:
      - name: folderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderEdit'
        required: true
      responses:
        "201":
          description: Folder updated successful.
      security:
      - cookieAuth: []
    delete:
      tags:
      - Folder
      summary: Delete folder by folder Id.
      operationId: API-055
      parameters:
      - name: folderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Folder deleted successful.
      security:
      - cookieAuth: []
  /forum/questions/{questionId}/:
    get:
      tags:
      - Forum
      summary: Get question by question Id.
      operationId: API-056
      parameters:
      - name: questionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
    put:
      tags:
      - Forum
      summary: Edit a question.
      operationId: API-064
      parameters:
      - name: questionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionEdit'
        required: true
      responses:
        "201":
          description: Edit a question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
      security:
      - cookieAuth: []
    delete:
      tags:
      - Forum
      summary: Delete question by quesiton Id.
      operationId: API-062
      parameters:
      - name: questionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Question deleted successful.
      security:
      - cookieAuth: []
  /forum/questions/{questionsId}/voting:
    post:
      tags:
      - Forum
      summary: Up/down vote question.
      operationId: API-057
      parameters:
      - name: questionsId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: vote
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Up/down vote question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voting'
      security:
      - cookieAuth: []
  /forum/comments/{commentId}/voting:
    post:
      tags:
      - Forum
      summary: Up/down vote comment.
      operationId: API-058
      parameters:
      - name: commentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: vote
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Up/down vote comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voting'
      security:
      - cookieAuth: []
  /forum/comments:
    post:
      tags:
      - Forum
      summary: Create a comment.
      operationId: API-059
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreate'
        required: true
      responses:
        "201":
          description: Create a comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      security:
      - cookieAuth: []
  /forum/comments/{commentId}:
    put:
      tags:
      - Forum
      summary: Edit a comment.
      operationId: API-060
      parameters:
      - name: commentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentEdit'
        required: true
      responses:
        "201":
          description: Edit a comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      security:
      - cookieAuth: []
    delete:
      tags:
      - Forum
      summary: Delete comment by comment Id.
      operationId: API-061
      parameters:
      - name: commentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Comment deleted successful.
      security:
      - cookieAuth: []
  /forum/questions:
    post:
      tags:
      - Forum
      summary: Create a question.
      operationId: API-063
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionCreate'
        required: true
      responses:
        "201":
          description: Create a question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
      security:
      - cookieAuth: []
  /common/tags:
    post:
      tags:
      - Common
      summary: Get tags list.
      operationId: API-065
      requestBody:
        description: A list of tags
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tags'
        required: true
      responses:
        "200":
          description: Tag list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags'
  /forum/questions/{questionId}/vote:
    delete:
      tags:
      - Forum
      summary: Delete vote question.
      operationId: API-080
      parameters:
      - name: questionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Delete successfully.
      security:
      - cookieAuth: []
  /forum/questions/{questionId}/comments/{commentId}/vote:
    delete:
      tags:
      - Forum
      summary: Delete vote comment.
      operationId: API-081
      parameters:
      - name: questionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: commentId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Delete successfully.
      security:
      - cookieAuth: []
components:
  schemas:
    RecentStudySetCardInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        lastVisitedTime:
          type: string
        createdTime:
          type: string
        numOfTerms:
          type: number
        rating:
          type: number
        ownerName:
          type: string
        ownerAvaUrl:
          type: string
        textbook:
          type: string
        subjects:
          type: array
          items:
            type: string
    RecentStudySetList:
      type: object
      properties:
        thisWeek:
          type: array
          items:
            $ref: '#/components/schemas/RecentStudySetCardInfo'
        lastWeek:
          type: array
          items:
            $ref: '#/components/schemas/RecentStudySetCardInfo'
        older:
          type: array
          items:
            $ref: '#/components/schemas/RecentStudySetCardInfo'
    StudySetCardInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        createdTime:
          type: string
        numOfTerms:
          type: number
        rating:
          type: number
        ownerName:
          type: string
        ownerAvaUrl:
          type: string
        textbook:
          type: string
        subjects:
          type: array
          items:
            type: string
    StudySetList:
      type: array
      items:
        $ref: '#/components/schemas/StudySetCardInfo'
    UserInfo:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        avaUrl:
          type: string
    FolderCardInfo:
      type: object
      properties:
        id:
          type: string
        numOfSets:
          type: number
        name:
          type: string
        createdTime:
          type: string
    FolderList:
      type: array
      items:
        $ref: '#/components/schemas/FolderCardInfo'
    ClassCardInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        school:
          type: string
        createdTime:
          type: string
        numOfSets:
          type: number
        numOfMembers:
          type: number
    ClassList:
      type: array
      items:
        $ref: '#/components/schemas/ClassCardInfo'
    SchoolInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        country:
          type: string
    SchoolList:
      type: array
      items:
        $ref: '#/components/schemas/SchoolInfo'
    TextbookInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    TextbookList:
      type: array
      items:
        $ref: '#/components/schemas/TextbookInfo'
    SubjectInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    SubjectList:
      type: array
      items:
        $ref: '#/components/schemas/SubjectInfo'
    QuestionCardInfo:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        createdTime:
          type: string
        ownerAvaUrl:
          type: string
        ownerName:
          type: string
        content:
          type: string
        numOfUpvotes:
          type: number
        numOfDownvotes:
          type: number
        numOfComments:
          type: number
        textbooks:
          type: array
          items:
            type: string
        subjects:
          type: array
          items:
            type: string
        schools:
          type: array
          items:
            type: string
    QuestionList:
      type: array
      items:
        $ref: '#/components/schemas/QuestionCardInfo'
    UserCardInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        avaUrl:
          type: string
        numOfClasses:
          type: number
        numOfSets:
          type: number
    UserList:
      type: array
      items:
        $ref: '#/components/schemas/UserCardInfo'
    StudySetInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        createdTime:
          type: string
        numOfTerms:
          type: number
        rating:
          type: number
        numOfRate:
          type: number
        ownerId:
          type: string
        ownerName:
          type: string
        textbook:
          type: string
        subjects:
          type: array
          items:
            type: string
        description:
          type: string
        accessModifier:
          type: string
    FlashCard:
      type: object
      properties:
        id:
          type: string
        term:
          type: string
        definition:
          type: string
        index:
          type: number
    FlashCardList:
      type: array
      items:
        $ref: '#/components/schemas/FlashCard'
    Rating:
      type: number
    Voting:
      type: number
    StudySetEdit:
      type: object
      properties:
        name:
          type: string
        textbook:
          type: string
        subjects:
          type: array
          items:
            type: string
        description:
          type: string
        accessModifier:
          type: string
        flashcards:
          type: array
          items:
            $ref: '#/components/schemas/FlashCard'
    StudySetCreate:
      type: object
      properties:
        name:
          type: string
        textbook:
          type: string
        subjects:
          type: array
          items:
            type: string
        description:
          type: string
        accessModifier:
          type: string
        flashcards:
          type: array
          items:
            $ref: '#/components/schemas/FlashCard'
    StudySetLearnQuestion:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        answers:
          type: array
          items:
            $ref: '#/components/schemas/StudySetLearnQuestion_answers'
        index:
          type: number
    StudySetLearnQuestionList:
      type: array
      items:
        $ref: '#/components/schemas/StudySetLearnQuestion'
    ClassInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        inviteLink:
          type: string
        school:
          type: string
        ownerId:
          type: string
        ownerName:
          type: string
        numOfSets:
          type: number
        numOfMembers:
          type: number
        accessModifier:
          type: string
    MemberInfo:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        avaUrl:
          type: string
        accessDay:
          type: string
        role:
          type: string
    MemberList:
      type: array
      items:
        $ref: '#/components/schemas/MemberInfo'
    JoinRequestCard:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        avaUrl:
          type: string
        sendTime:
          type: string
        message:
          type: string
    JoinRequestList:
      type: array
      items:
        $ref: '#/components/schemas/JoinRequestCard'
    JoinRequest:
      type: object
      properties:
        message:
          type: string
    ClassCreate:
      type: object
      properties:
        name:
          type: string
        school:
          type: string
        description:
          type: string
        accessModifier:
          type: string
    ClassEdit:
      type: object
      properties:
        name:
          type: string
        school:
          type: string
        description:
          type: string
        accessModifier:
          type: string
    FolderInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        ownerId:
          type: string
        ownerName:
          type: string
        description:
          type: string
    FolderCreate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
    FolderEdit:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
    Comment:
      type: object
      properties:
        id:
          type: string
        ownerId:
          type: string
        ownerName:
          type: string
        ownerAva:
          type: string
        createdTime:
          type: string
        numOfUpvotes:
          type: number
        numOfDownvotes:
          type: number
        listOfVotes:
          type: array
          items:
            $ref: '#/components/schemas/Vote'
        content:
          type: string
        listOfComments:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        replyToQuestion:
          type: string
        replyToComment:
          type: string
    Vote:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        votedTime:
          type: string
        type:
          type: string
    Question:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        createdTime:
          type: string
        ownerId:
          type: string
        ownerAvaUrl:
          type: string
        ownerName:
          type: string
        content:
          type: string
        numOfUpvotes:
          type: number
        numOfDownvotes:
          type: number
        listOfVotes:
          type: array
          items:
            $ref: '#/components/schemas/Vote'
        numOfComments:
          type: number
        textbooks:
          type: array
          items:
            type: string
        subjects:
          type: array
          items:
            type: string
        schools:
          type: array
          items:
            type: string
        comments:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
    CommentCreate:
      type: object
      properties:
        content:
          type: string
        replyTo:
          type: string
    CommentEdit:
      type: object
      properties:
        content:
          type: string
    QuestionEdit:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
        textbooks:
          type: array
          items:
            type: string
        subjects:
          type: array
          items:
            type: string
        schools:
          type: array
          items:
            type: string
    QuestionCreate:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
        textbooks:
          type: array
          items:
            type: string
        subjects:
          type: array
          items:
            type: string
        schools:
          type: array
          items:
            type: string
    Tags:
      type: object
      properties:
        textbooks:
          type: array
          items:
            type: string
        subjects:
          type: array
          items:
            type: string
        schools:
          type: array
          items:
            type: string
    StudySetLearnQuestion_answers:
      type: object
      properties:
        index:
          type: number
        content:
          type: string
        isCorrect:
          type: boolean
      example: null
  securitySchemes:
    cookieAuth:
      type: apiKey
      name: ar_Auth
      in: cookie
