.required_text {
  color: var(--color-red);
}

.container_90 {
 width: 90%;
}

.dropdown_accessModifier {
  color: var(--color-black-text) !important;
  width: 100px;
  padding: 5px;
  border: 1px solid var(--color-theme) !important;
}

.dropdown_accessModifier:focus-visible {
  outline: none;
}

.bold_text {
  font-weight: 500;
}

.no_border:focus {
  border-bottom: 1px solid var(--color-theme) !important;
  outline: none !important;
}

.no_border {
  border-bottom: 1px solid var(--color-black-text) !important;
  outline: none !important;
}