.bodys {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  margin: 0 !important;
  width: max-content;
}

.img {
  background-image: url("../../assets/images/landing1.jpg");
  background-size: cover;
  min-height: 94vh;
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
}

.containers {
  background-color: var(--color-white);
  border-radius: 5px;
  margin-top: 100px;
  height: 500px;
}

.header {
  font-size: 30px;
  background-color: var(--color-white);
  color: var(--color-theme);
}

.form {
  padding: 30px 50px 0px 30px;
  width: 400px;
}

.form_control {
  position: relative;
}

.input {
  border: 2px solid var(--color-theme-light);
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px 10px 10px 40px;
  width: 108%;
}

.input:focus {
  outline: 0;
  border-color: var(--color-blur-text);
}

.text {
  text-align: left;
  font-size: 14px;
}
.icon {
  position: absolute;
  left: 5px;
  padding: 13px;
  min-width: 40px;
  color: var(--color-theme-light);
}
.accept_button {
    background-color: var(--color-theme) !important;
    border: none;
    width: 110px;
    margin-top: 20px;
    margin-left: 30px;
    color: var(--color-white);
    left: 1478px;
}
.accept_button:hover {
    background-color: var(--color-theme);
    opacity: 0.6;
}
.decline_button {
    background-color: var(--color-white) !important;
    color: var(--color-theme) !important;
    border: 1px solid var(--color-theme) !important;
    width: 110px;
    margin-top: 20px;
    margin-left: 20px;
}
.decline_button:hover {
    background-color: var(--color-white) !important;
    opacity: 0.6;
    color: var(--color-theme-light);
}
.button{
   justify-content: right;
}
.error {
  color: var(--color-red);
  margin-bottom: 0px;
}
