{
  "plugins": [
    "react"
  ],
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/prop-types": 0,
    "no-unused-vars": 1,
    "quotes": [
      2,
      "single"
    ],
    "semi": [
      2,
      "always"
    ],
    "curly": [
      2,
      "all"
    ],
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ],
    "eqeqeq": [
      2,
      "smart"
    ],
    "one-var-declaration-per-line": [
      2,
      "always"
    ],
    "new-cap": 2,
    "no-case-declarations": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}